@font-face {
    font-family: 'Azuki';
    src: url('https://cdn.glitch.global/92a9e88e-8915-459f-9c1c-dea675176022/azuki.ttf?v=1738340052726') format('truetype');
}
@font-face {
    font-family: 'Squid';
    src: url('https://cdn.glitch.global/92a9e88e-8915-459f-9c1c-dea675176022/GameOfSquids-1GMVL.ttf?v=1739553737955') format('truetype');
}

.highlight {
    background: #F44788; /* 文字の中の色 */
    -webkit-background-clip: text; /* Safari用 */
    background-clip: text; /* 他のブラウザ用 */
    color: #19CACA; /* 文字全体の色 */
}

body {
  font-family: 'Azuki', sans-serif;
  background-color: #b0e0e6;/*カラーコードは好きな色にかえてOK*/
  color: #003366;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
}
header {
  background-color: #4682b4;
  color: white;
  padding: 5px 0;
  text-align: center;
  height: 100px; /* ヘッダーから文字が脱出したらここを変えて */
  line-height: 15px;
}

footer {
  background-color: #4682b4;
  color: white;
  text-align: center;
  padding: 0;
  height: 150px;
  line-height: 20px;
  position: relative; 
  margin-top: auto;
}


.content {
  flex: 1;
  margin: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer .sitemap {
  margin-top: 1px;
}
footer .sitemap ul {
  list-style: none;
  padding: 0;
  
  
}
footer .sitemap li {
  display: inline;
  margin: 0 10px;
  text-decoration: underline;
}
input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #ffc1e0;
  color: white;
}

button:hover {
  background-color: #ffe6f0;
}/* なんでボタン？ */

hr {
margin-bottom: 15px;
}
hr.example1 {
height: 2px;
width: 100%;
background-color: #003366;
  
}
